<footer id="main-footer">
    <p id="copy-right">
        &copy;2022designed by: H.Zamani
    </p>
    <div class="social-media">
        <a href=""><img src="" alt=""></a>
        <a href=""><img src="" alt=""></a>
    </div>
    <nav>
        <ul>
            <li>
                <a href="/posts">All Posts</a>
            </li>
            <li>
                <a href="/new-post">Create Post</a>
            </li>
        </ul>
    </nav>
</footer>